body{
	width: 100%;
	height: 100%;
}
#header{
	background-color: orangered;
}
.swiper-container{
	width: 100%;
}
.swiper-wrapper{
	width: 100%;
	height: 30%;
}
.swiper-wrapper img{
	width: 100%;
	height: 300px;
}
span{
	color: red;
	font-weight: bold;
	font-size: 20px;
}
p span{
	border: dashed 1px red;
	font-size: 14px;
	font-weight: 100;
}